//   ___          _       
//   | _ ) ___ _ _| |_ ___ 
//   | _ \/ -_) ' \  _/ _ \
//   |___/\___|_||_\__\___/
//
//   - Miguel R. Ãvila
//   - Fork by Janik Wambsganss: https://github.com/jwa-7 

// This file is only for development 


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
// Responsive
$bp-largest: 70em;
$bp-large: 60em;
$bp-sl: 42em; //small-large
$bp-small: 40.5em;
$bp-sp: 981px; //small-phone
$bp-smallest: 31.25em;

@mixin high-dpi-small {

    @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: $bp-sp),
    only screen and (min--moz-device-pixel-ratio: 2) and (max-width: $bp-sp),
    only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: $bp-sp),
    only screen and (min-device-pixel-ratio: 2) and (max-width: $bp-sp),
    only screen and (min-resolution: 192dpi) and (max-width: $bp-sp),
    only screen and (min-resolution: 2dppx) and (max-width: $bp-sp) {
        // Small screen, retina, stuff
        @content;
    }
}

:root {
    // Fonts
    --fsg: 150px;
    --fsml: 112px;
    --fsm: 85px;
    --fsms: 72px;
    --fss: 1.25em;
    --fses: 18px;

    --accent: #186efdaa;

    --bg: #f5f5f5;
    --sbg: #e4e6e6;
    --fg: #3a3a3a;

    --imgbg: url(../img/wal.png);

    --imgcol: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.05));

    @media only screen and (max-width: $bp-large) {
        --fsg: 100px;
        --fsm: 65px;
        --fss: 20px;
    }
}

//* Dark theme
.darktheme {
    --accent: #2687d5; // Hover color 
    // --bg: #19171a; // Background color
    --bg: #19171a; // Background color
    --sbg: #201e21; // Cards color 
    --fg: #d8dee9; // Foreground color
    --sfg: #3a3a3a; // Secondary Foreground color
    --imgcol: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)); // Filter color
}

/* S T Y L E S */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);

    background-image: var(--imgcol), var(--imgbg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    @include high-dpi-small {
        align-items: flex-start;
        margin-top: 24px;
    }

    // min-height: min-content;
}

#themeButton {
    position: absolute;
    margin: 2em 2em 0 0;
    right: 0;
    top: 0;
    color: var(--fg);
    border: none;
    cursor: pointer;
    background-color: #00000000;
}

#themeButton__icon {
    width: 25px;
    height: 25px;
}

.container {
    width: 130vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 30px;
    padding: 20px;
    // background: green;

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
        padding: 40px;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }

    @include high-dpi-small {
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 10px;
        // background: red;
    }

    & > * {
        width: 100%;
    }

    * {
        transition: 0.2s ease-in-out;
    }
}

.card {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    background-color: var(--sbg);

    &:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
    }
}

.card--static {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    background-color: var(--sbg);
}

.timeBlock {
    grid-row: 1 / span 3;
    grid-column: 1 / span 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
        grid-row: 1 / span 2;
        grid-column: 1 / span 3;
    }

    @media only screen and (max-width: $bp-small) {
        grid-row: 1 / span 3;
        grid-column: 1 / span 2;
    }

    @include high-dpi-small {
        grid-row: 1 / span 3;
        grid-column: 1 / span 2;
    }
}

.weatherBlock {
    grid-column: 1 / span 5;
    grid-row: 4 / span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
        display: none;
    }

    @include high-dpi-small {
        display: none;
    }
}

.weatherBlock__date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.weatherBlock__weather {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;

    // font-size: var(--fsg);
    font-size: 7.5em;
    font-weight: normal;
    color: var(--fg);

    @media only screen and (max-width: $bp-largest) {
        // font-size: var(--fsml);
        font-size: 7.5em;
    }

    @include high-dpi-small {
        font-size: 6em;
    }

}

#month,
#day,
#monthday {
    // font-size: var(--fsm);
    font-size: 4em;
    font-weight: normal;
    color: var(--fg);

    @media only screen and (max-width: $bp-largest) {
        font-size: 4em;
    }
}

#day {
    margin-left: 20px;
}

#greetings {
    font-size: var(--fses);
    color: var(--fg);

    @media only screen and (max-width: $bp-large) {
        font-size: var(--fss);
    }

    @include high-dpi-small {
        font-size: var(--fss);
    }

}

.weather-icon img {
    width: 70px;
    height: 70px;
}

.temperature {
    &-value p {
        //-> temperature-value p
        font-size: var(--fss);
        font-weight: bolder;
        margin-left: 15px;
        color: var(--fg);
    }

    &-description p {
        //-> temperature-description p
        font-size: var(--fss);
        margin-left: 15px;
        color: var(--fg);
    }
}

.buttonLink {
    grid-row: 1 / span 3;
    grid-column: 6 / span 7;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-gap: 30px;
    padding: 0;

    @media only screen and (max-width: $bp-large) {
        grid-column: 4 / span 3;
        grid-gap: 20px;
    }

    @media only screen and (max-width: $bp-small) {
        grid-column: 1 / span 2;
        grid-row: 4 / span 3;
    }

    @include high-dpi-small {
        grid-column: 1 / span 2;
        grid-row: 4 / span 3;
    }

    &__icon {
        //-> buttonLink__icon (square cards icons)
        width: 26px;
        height: 26px;
        color: var(--fg);

        @include high-dpi-small {
            width: 1.65em;
            height: 1.65em;
        }
    }

    &__link {
        //-> buttonLink__link (entire square card)
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--sbg);
        width: 100%;
        box-shadow: 0 5px 7px rgba(#000000, 0.35);
        border-radius: 5px;
        flex-direction: column;
        color: var(--fg);
        text-decoration: none;
        padding-top: 6px;

        @media only screen and (max-width: $bp-small) {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        @include high-dpi-small {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        span {
            // square card title
            margin-top: 4px;
            margin-left: 1px;
            text-align: center;

            @include high-dpi-small {
                font-size: 0.9em;
            }
        }

        &-1 {
            //-> buttonLink__link-1
            grid-row: 1;
            grid-column: 1;
        }

        &-2 {
            grid-row: 1;
            grid-column: 2;
        }

        &-3 {
            grid-row: 1;
            grid-column: 3;
        }

        &-4 {
            grid-row: 2;
            grid-column: 1;
        }

        &-5 {
            grid-row: 2;
            grid-column: 2; 
        }

        &-6 {
            //-> buttonLink__link-6
            grid-row: 2;
            grid-column: 3;
        }

        &:hover {
            // square card hover
            background-color: var(--accent);
            transform: translateY(-0.2rem);

            box-shadow: 0 10px 10px rgba(#000000, 0.35);

            & svg {
                // square card icon svg
                stroke: var(--fg);
            }
        }
    }
}

.list {
    // base list class
    display: flex;
    align-items: center;
    flex-direction: column;

    &__parentList {
        //-> list__parentList (parent link-list)
        grid-column: 6 / span 3;
        grid-row: 4 / span 3;
        text-align: center;
        overflow: auto;

        @media only screen and (max-width: $bp-large) {
            grid-row: 4 / span 3;
            grid-column: 1 / span 3;
            max-width: 72%;
            margin: 0 auto;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: row;
            grid-row: 7;
            max-width: initial;
            grid-column: 1 / span 2;
            overflow: auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        @include high-dpi-small {
            flex-direction: row;
            grid-row: 7;
            max-width: initial;
            grid-column: 1 / span 2;
            overflow: auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        .list__parentList--scrollwrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media only screen and (max-width: $bp-small) {
                flex-direction: row;
                width: auto;
            }

            @include high-dpi-small {
                flex-direction: row;
                width: auto;
            }


            .list__link {
                // list entries in parent and child-lists
                @media only screen and (max-width: $bp-small) {
                    margin-left: 8px;
                }
    
                @include high-dpi-small {
                    font-size: 1em;
                    margin-left: 8px;
                }
            }

        }

    }

    &__childListLinks {
        //-> list__childListLinks (actual child-list in wrapper)
        min-height: 100%;
        width: 100%;
        overflow: auto;

        @include high-dpi-small {
            min-height: 150%;
        }

        .list__head {

            // icon svg in parent and child-list
            @media only screen and (max-width: $bp-small) {
                margin-top: 8px;
            }

            @include high-dpi-small {
                // display: none;
            }
        }

        .list__childListLinks__headline {
            //child list headline
            color: var(--fg);
            margin-left: -2px;

            margin-left: 1px;
            background: var(--accent);
            padding: 4px 18px;
            border-radius: 8px;

            @media only screen and (max-width: $bp-small) {
                margin-bottom: 6px;
            }

            @include high-dpi-small {
                margin-top: 10px;
                margin-bottom: 8px;
                font-size: 1.05em;

                
            }
        }

        .list__link-scrollwrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .list__link {
            // links in child-list
            padding: 6px 18px;

            @media only screen and (max-width: $bp-small) {
                width: 100%;
                text-align: center;
            }

            @include high-dpi-small {
                width: 100%;
                text-align: center;
                font-size: 0.85em;
            }
        }
    }

    &.list__childListLinks-wrapper {
        //-> .list.list__childListLinks-wrapper (wrapper for all child-lists)
        grid-column: 9 / span 4;
        grid-row: 4 / span 3;

        @media only screen and (max-width: $bp-large) {
            grid-row: 4 / span 3;
            grid-column: 4 / span 3;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / span 2;
            grid-row: 8 / span 3;
        }

        @include high-dpi-small {
            grid-column: 1 / span 2;
            grid-row: 8 / span 3;
        }
    }

    &__head {
        //->list__head (icon svg of parent and child-lists)
        margin-top: 30px;
        margin-bottom: 8px;
        min-width: 30px;
        width: 30px;
        color: var(--fg);
        min-height: 30px;
        height: 30px;

        @media only screen and (max-width: $bp-small) {
            margin: 0;
        }

        @include high-dpi-small {
            margin: 0;
        }
    }

    &__link {
        //-> list__link (links in parent and child-lists - base style definition)
        text-decoration: none;
        font-size: var(--fses);
        color: var(--fg);
        margin-top: 2.5px;
        padding: 6px 12px;
        border-radius: 5px;
        font-weight: normal;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
            background-color: var(--accent);
            color: var(--fg);
        }

        @media only screen and (max-width: $bp-small) {
            margin-top: 0;
            width: auto;
            overflow: initial;
        }

        @include high-dpi-small {
            margin-top: 0;
            width: auto;
            overflow: initial;
        }
    }
}


//* Helper-classes 
.selected {
    box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.125);
    background-color: var(--accent);
    color: var(--fg);
    width: 90%;
    border-radius: 10px;

    @media only screen and (max-width: $bp-small) {
        width: auto;
    }

    @include high-dpi-small {
        width: auto;
    }
}

.hidden {
    display: none;
}

span.preloader {
    text-align: center;
    color: var(--fg);
}
